/PartePC/Proyecto2IA/dist/
/ParteRaspberry/RASPBERRYPI/dist/
/ParteRaspberry/RASPBERRYPI/build/
/ProyectoCarpio/grafica.png
/ProyectoCarpio/sourceGraphviz.dot
/PRO2_IA_V2/nbproject/private/
/PRO2_IA_V2/build/
/PRO2_IA_V2/dist/
/PRO2_IA-RaspAgente/nbproject/private/